<section class="features block container">

    <div class="grid grid--1x2">
      <img class="feature__img" src="Assets/Social Media Icons.png" alt="" />
      <div class="feature__body">
        <h2>Curate your feed from dozen of resources.</h2>
        <p class="feature__text">
          we cover all major platforms where one could want to curate their
          feed from Reddit, ProductHunt, IndieHackers, and so much more.
        </p>
        <a class="link link-arrow" href="#">See full list of resources</a>
      </div>
    </div>

    <div class="grid grid--1x2">
      <img class="feature__img feature__img-2" src="Assets/Phone Mockup.png" alt="" />
      <div>
        <h2>Access your feed from the comfort of your phone.</h2>
        <p class="feature__text">
          With native apps for both iOS and Android, accessing your curated
          content has never been easier.
        </p>
        <a class="link link-arrow" href="#">Sign up for the waitlist</a>
      </div>
    </div>

  </section>