<footer class="block footer">
    <div class="container">
      <div class="footer__heading">
        <h3 class="footer__heading__text">IndieBrew</h3>
        <p>
          With IndieBrew, get personal feeds from resources all around the
          web, including Reddit, HackerNews, and much more.
        </p>
        <p>Made with 🖤 by <span class="decorated__text">Ankit</span></p>
      </div>
      <div class="grid grid--2x2">
        <ul class="list">
          <li class="list__heading">Sitemap</li>
          <li>Homepage</li>
          <li>Pricing</li>
        </ul>
        <ul class="list">
          <li class="list__heading">Resources</li>
          <li>Support</li>
          <li>Contact</li>
          <li>FAQ</li>
        </ul>
        <ul class="list">
          <li class="list__heading">Company</li>
          <li>About</li>
          <li>Customer</li>
          <li>Blog</li>
        </ul>
        <ul class="list">
          <li class="list__heading">Portfolios</li>
          <li>HackerNews</li>
          <li>Reddit</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </footer>