<div class="form-card">
    <form>
      <h3>Create your IndieBrew Account</h3>
      <label for="">Email</label>
      <input class="input" placeholder="john@exammple.com" type="text" />
      <label for="">Full name</label>
      <input class="input" placeholder="John Doe" type="text" />
      <label for="">Password</label>
      <input class="input" placeholder="At least 8 characters" type="password" />
      <div class="terms">
        <input class="checkbox" type="checkbox" name="" id="" />
        <span for="">By creating an account on IndieBrew, you agree to the <a class="link link--underline" href="#">Terms & Conditions</a></span>
      </div>
      <button class="btn btn--block">Create an Account</button>
    </form>
  </div>