<section class="hero block">
    <div class="container grid grid--1x2">
      <div class="hero__content">
        <h1>Your weekly personal feed digest</h1>
        <p>
          With IndieBrew, get personal feeds from resources all around the
          web, including Reddit, HackerNews, IndiaNews, IndieHackers, and
          much more.
        </p>
        <button class="btn">
          <span class="bold-text-button">Get Started</span> - it's free
        </button>
        <img class="user_avatar" src="Assets/User Avatars.svg" alt="" />
        <p class="hero__tagline">
          Join
          <span style="color: #664efc; font-weight: bold">32,642</span>
          IndieBrews in curating their personal digest.
        </p>
      </div>
      <img class="hero__image" src="Assets/Feed Mockup.png" alt="" />
    </div>
  </section>